/* style.css */

/* Posicionamento do logo */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}

/* Centralização dos botões */
.home,
.produtos,
.contato {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaçamento entre os botões */
}

/* Posicionamento da barra de pesquisa */
.barra-pesquisa {
    position: absolute;
    top: 0;
    right: 0;
}
